#Ignoras archivos lst
*.lst
#ignorar archivos obj
*.obj
#ignorar solidic_proj
solidic_proj
#ignorar .bac
*.bak
#ignorar Inp
*.lnp
#ignorar M51
*.M51
#ignorar Opt
*.Opt
#ignorar plg
*.plg
#Ignorar Hex
*.Hex
#ignorar _i
*.__i
dvr_Inicio.__i
.gitignore
.gitignore
usr_dbg.__i
.gitignore
.gitignore
.gitignore
dvr_registradora.__i
.gitignore
.gitignore
